@model Arca.Shared.Models.Usuario

@{
    ViewBag.Title = "Perfil de Usuario";
}

<div class="form-container">
    <h1>Perfil de Usuario</h1>

    <div class="form-row-inline">
        <label>Usuario Id:</label>
        <p>@Model.UserId</p>
    </div>
    <div class="form-row-inline">
        <label>Nombre:</label>
        <p>@Model.Nombre</p>
    </div>
    <div class="form-row-inline">
        <label>Correo:</label>
        <p>@Model.Correo</p>
    </div>
    <div class="form-row-inline">
        <label>Rol:</label>
        <p>@Model.Rol</p>
    </div>
    <div class="form-row-inline">
        <label>Activo:</label>
        <p>@(Model.Activo ? "Sí" : "No")</p>
    </div>

    <div class="button-container" style="gap:12px;">
        <a href="@Url.Action("Index","Home")" class="button">Volver</a>
    </div>
</div>